# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# C extensions
*.so

# emacs
*~

#vim
*#

# wandb + logging
logs/
wandb/
outputs/

checkpoint_chache/
checkpoint_chache/*
*.pt
checkpoint_cache/pose_DR_breakable_f20_2026-02-25_17_29/qbfogzx6/policy.pt
*.xz
checkpoint_cache/
pull_theta1.57_phi1.57_raw.csv
*.csv
